@model IEnumerable<BookEat.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Reservaciones</h2>

<p>
    @Html.ActionLink("Crear una reservación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialRequests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Guests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialRequests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantID)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
